body{
  background-color: #dcf5d1;
}


h1 {
  border-radius: 0.5rem;
  background-color: #92B662;
  color: #ffffff;
  font-family: "Trebuchet MS";
  padding: 2rem;
  text-align: center;
  font-size: 450%;
}

h2 {
  font-family: "Trebuchet MS";
  padding: 0.5rem 0; 
}

h3{
  font-family: "Georgia";
  font-size: 98%;
}

p {
  color:black;
  line-height: 1.6; 
  font-family: Times New Roman;
}

img{
  border-radius: 0.5rem; 
  float: right;
  width: 50%; 
  margin: 1rem; 
}


